n8n-workflows/wf-compliance-sentinel.json
{
  "name": "Compliance Sentinel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "cs-0001-0001-0001-000000000001",
      "name": "[TRIGGER] Weekly Monday 8AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2-7"
            }
          ]
        }
      },
      "id": "cs-0002-0002-0002-000000000002",
      "name": "[TRIGGER] Daily Tue-Sun 8AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 800]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/compliance_obligations?status=in.(pending,in_progress,overdue)&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0003-0003-0003-000000000003",
      "name": "[SCAN] Query All Obligations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/compliance_obligations?status=in.(pending,in_progress,overdue)&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0004-0004-0004-000000000004",
      "name": "[SCAN] Query Urgent Obligations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 800]
    },
    {
      "parameters": {
        "jsCode": "// Calculate days until due and assign threshold bucket for each obligation\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const ob = item.json;\n  const dueDate = new Date(ob.due_date);\n  dueDate.setHours(0, 0, 0, 0);\n  const daysUntilDue = Math.floor((dueDate - today) / (1000 * 60 * 60 * 24));\n\n  let threshold = 'no_action';\n  if (ob.status === 'overdue' || daysUntilDue < 0) threshold = 'overdue';\n  else if (daysUntilDue === 0) threshold = 'due_today';\n  else if (daysUntilDue <= 14) threshold = '14_day';\n  else if (daysUntilDue <= 30) threshold = '30_day';\n\n  // Calculate current quarter for logging\n  const month = today.getMonth();\n  const quarter = 'Q' + (Math.floor(month / 3) + 1);\n\n  // Build email HTML based on threshold\n  const urgencyMap = {\n    '30_day': { color: '#3b82f6', label: 'Informational', prefix: 'Upcoming' },\n    '14_day': { color: '#f59e0b', label: 'ESCALATION', prefix: 'Action Needed Soon' },\n    'due_today': { color: '#ef4444', label: 'ACTION REQUIRED', prefix: 'Due Today' },\n    'overdue': { color: '#dc2626', label: 'OVERDUE', prefix: 'Past Due' }\n  };\n\n  let email_html = '';\n  let email_subject = '';\n  const style = urgencyMap[threshold];\n  if (style) {\n    email_subject = `Compliance ${style.label}: ${ob.obligation_name} due ${ob.due_date}`;\n    email_html = `<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\"><div style=\"border-left: 4px solid ${style.color}; padding: 16px; margin: 16px 0;\"><h2 style=\"color: ${style.color}; margin: 0 0 8px;\">${style.prefix}: ${ob.obligation_name}</h2><p><strong>Status:</strong> ${style.label}</p><p><strong>Due Date:</strong> ${ob.due_date}</p><p><strong>Days Until Due:</strong> ${daysUntilDue}</p><p><strong>Description:</strong> ${ob.description || 'N/A'}</p><p><strong>Owner:</strong> ${ob.owner || 'N/A'}</p><p><strong>Category:</strong> ${ob.category || 'N/A'}</p>${ob.notes ? '<p><strong>Notes:</strong> ' + ob.notes + '</p>' : ''}</div><p style=\"color: #666; font-size: 12px;\">Compliance Sentinel | Faith & Harmony LLC | Automated Governance System</p></body></html>`;\n  }\n\n  results.push({\n    json: {\n      ...ob,\n      days_until_due: daysUntilDue,\n      threshold,\n      needs_sms: threshold === '14_day' || threshold === 'overdue',\n      needs_email: threshold !== 'no_action',\n      email_html,\n      email_subject,\n      current_quarter: quarter,\n      fiscal_year: today.getFullYear(),\n      sms_message: (threshold === '14_day' || threshold === 'overdue')\n        ? `COMPLIANCE ${style ? style.label : 'ALERT'}: ${ob.obligation_name} due in ${daysUntilDue} days. Action needed. Check email for details.`\n        : ''\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "cs-0005-0005-0005-000000000005",
      "name": "[LOGIC] Calculate Days Until Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter for 14-day and overdue obligations only (daily path)\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const ob = item.json;\n  const dueDate = new Date(ob.due_date);\n  dueDate.setHours(0, 0, 0, 0);\n  const daysUntilDue = Math.floor((dueDate - today) / (1000 * 60 * 60 * 24));\n\n  let threshold = 'no_action';\n  if (ob.status === 'overdue' || daysUntilDue < 0) threshold = 'overdue';\n  else if (daysUntilDue === 0) threshold = 'due_today';\n  else if (daysUntilDue <= 14) threshold = '14_day';\n\n  // Only pass through obligations due within 14 days or overdue\n  if (threshold === 'no_action') continue;\n\n  const month = today.getMonth();\n  const quarter = 'Q' + (Math.floor(month / 3) + 1);\n\n  const urgencyMap = {\n    '14_day': { color: '#f59e0b', label: 'ESCALATION', prefix: 'Action Needed Soon' },\n    'due_today': { color: '#ef4444', label: 'ACTION REQUIRED', prefix: 'Due Today' },\n    'overdue': { color: '#dc2626', label: 'OVERDUE', prefix: 'Past Due' }\n  };\n\n  const style = urgencyMap[threshold];\n  const email_subject = `Compliance ${style.label}: ${ob.obligation_name} due ${ob.due_date}`;\n  const email_html = `<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\"><div style=\"border-left: 4px solid ${style.color}; padding: 16px; margin: 16px 0;\"><h2 style=\"color: ${style.color}; margin: 0 0 8px;\">${style.prefix}: ${ob.obligation_name}</h2><p><strong>Status:</strong> ${style.label}</p><p><strong>Due Date:</strong> ${ob.due_date}</p><p><strong>Days Until Due:</strong> ${daysUntilDue}</p><p><strong>Description:</strong> ${ob.description || 'N/A'}</p><p><strong>Owner:</strong> ${ob.owner || 'N/A'}</p><p><strong>Category:</strong> ${ob.category || 'N/A'}</p>${ob.notes ? '<p><strong>Notes:</strong> ' + ob.notes + '</p>' : ''}</div><p style=\"color: #666; font-size: 12px;\">Compliance Sentinel | Faith & Harmony LLC | Automated Governance System</p></body></html>`;\n\n  results.push({\n    json: {\n      ...ob,\n      days_until_due: daysUntilDue,\n      threshold,\n      needs_sms: threshold === '14_day' || threshold === 'overdue',\n      needs_email: true,\n      email_html,\n      email_subject,\n      current_quarter: quarter,\n      fiscal_year: today.getFullYear(),\n      sms_message: (threshold === '14_day' || threshold === 'overdue')\n        ? `COMPLIANCE ${style.label}: ${ob.obligation_name} due in ${daysUntilDue} days. Action needed. Check email for details.`\n        : ''\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true, threshold: 'no_action' } }];"
      },
      "id": "cs-0006-0006-0006-000000000006",
      "name": "[LOGIC] Filter 14-Day and Overdue Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 800]
    },
    {
      "parameters": {
        "jsCode": "// Check for recently completed recurring obligations that need auto-renewal\n// Only runs on weekly Monday path\nconst items = $input.all();\nconst results = [];\nconst renewals = [];\n\nconst today = new Date();\nconst sevenDaysAgo = new Date(today);\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n\nfor (const item of items) {\n  const ob = item.json;\n  // Pass through all items for downstream processing\n  results.push(item);\n\n  // Check if this obligation was recently completed and is recurring\n  if (ob.status === 'complete' && ob.completed_at) {\n    const completedAt = new Date(ob.completed_at);\n    const recurrence = ob.recurrence;\n\n    // Skip non-recurring obligations\n    if (recurrence === 'one_time' || recurrence === 'as_needed') continue;\n\n    // Only process completions within the last 7 days\n    if (completedAt < sevenDaysAgo) continue;\n\n    // Calculate next due date\n    let nextDueDate = new Date(completedAt);\n    switch (recurrence) {\n      case 'monthly':\n        nextDueDate.setMonth(nextDueDate.getMonth() + 1);\n        break;\n      case 'quarterly':\n        nextDueDate.setMonth(nextDueDate.getMonth() + 3);\n        break;\n      case 'annual':\n        nextDueDate.setFullYear(nextDueDate.getFullYear() + 1);\n        break;\n      case 'biennial':\n        nextDueDate.setFullYear(nextDueDate.getFullYear() + 2);\n        break;\n      default:\n        continue;\n    }\n\n    renewals.push({\n      json: {\n        obligation_name: ob.obligation_name,\n        category: ob.category,\n        description: ob.description,\n        due_date: nextDueDate.toISOString().split('T')[0],\n        recurrence: ob.recurrence,\n        status: 'pending',\n        owner: ob.owner,\n        source_document: ob.source_document,\n        notes: `Auto-renewed from completed obligation (completed ${completedAt.toISOString().split('T')[0]})`,\n        _is_renewal: true,\n        _parent_obligation_name: ob.obligation_name\n      }\n    });\n  }\n}\n\n// Output 0: all obligations for threshold routing\n// Output 1: renewals to create (may be empty)\n// n8n Code node can only return one output, so we tag renewals\nreturn results.concat(renewals);"
      },
      "id": "cs-0007-0007-0007-000000000007",
      "name": "[LOGIC] Check Completed For Renewal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "30_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "30_day"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "14_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "14_day"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "due_today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "due_today"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "overdue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "overdue"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._is_renewal }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "renewal"
            }
          ],
          "fallbackOutput": {
            "type": "extra",
            "extraOutputKey": "no_action"
          }
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "cs-0008-0008-0008-000000000008",
      "name": "[ROUTE] Split By Threshold",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "14_day",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "14_day"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "due_today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "due_today"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.threshold }}",
                    "rightValue": "overdue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "overdue"
            }
          ],
          "fallbackOutput": {
            "type": "extra",
            "extraOutputKey": "no_action"
          }
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "cs-0009-0009-0009-000000000009",
      "name": "[ROUTE] Daily Split By Threshold",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [880, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0010-0010-0010-000000000010",
      "name": "[NOTIFY] 30d Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0011-0011-0011-000000000011",
      "name": "[NOTIFY] 14d Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/message/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'sms', to: $env.FOUNDER_PHONE, message: $json.sms_message }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0012-0012-0012-000000000012",
      "name": "[NOTIFY] 14d SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0013-0013-0013-000000000013",
      "name": "[NOTIFY] Due Today Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/compliance_obligations?id=eq.{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'overdue', updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0014-0014-0014-000000000014",
      "name": "[MARK] Set Overdue Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0015-0015-0015-000000000015",
      "name": "[NOTIFY] Overdue Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/message/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'sms', to: $env.FOUNDER_PHONE, message: $json.sms_message }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0016-0016-0016-000000000016",
      "name": "[NOTIFY] Overdue SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/compliance_obligations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ obligation_name: $json.obligation_name, category: $json.category, description: $json.description, due_date: $json.due_date, recurrence: $json.recurrence, status: $json.status, owner: $json.owner, source_document: $json.source_document, notes: $json.notes }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0017-0017-0017-000000000017",
      "name": "[RENEW] Auto-Create Next Occurrence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'compliance_sentinel', event_type: 'reminder', summary: 'Sent ' + $json.threshold + ' reminder for ' + $json.obligation_name + ' (due ' + $json.due_date + ')', data_snapshot: { id: $json.id, obligation_name: $json.obligation_name, category: $json.category, due_date: $json.due_date, status: $json.status, threshold: $json.threshold, days_until_due: $json.days_until_due, owner: $json.owner, description: $json.description }, quarter: $json.current_quarter, fiscal_year: $json.fiscal_year }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0018-0018-0018-000000000018",
      "name": "[LOG] Log 30d Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'compliance_sentinel', event_type: 'reminder', summary: 'Sent 14-day escalation for ' + $json.obligation_name + ' (due ' + $json.due_date + ') - email + SMS', data_snapshot: { id: $json.id, obligation_name: $json.obligation_name, category: $json.category, due_date: $json.due_date, status: $json.status, threshold: $json.threshold, days_until_due: $json.days_until_due, owner: $json.owner, description: $json.description }, quarter: $json.current_quarter, fiscal_year: $json.fiscal_year }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0019-0019-0019-000000000019",
      "name": "[LOG] Log 14d Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'compliance_sentinel', event_type: 'status_change', summary: 'Marked ' + $json.obligation_name + ' as OVERDUE (was due ' + $json.due_date + ')', data_snapshot: { id: $json.id, obligation_name: $json.obligation_name, category: $json.category, due_date: $json.due_date, previous_status: $json.status, new_status: 'overdue', owner: $json.owner, description: $json.description }, quarter: $json.current_quarter, fiscal_year: $json.fiscal_year }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0020-0020-0020-000000000020",
      "name": "[LOG] Log Overdue Status Change",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'compliance_sentinel', event_type: 'reminder', summary: 'Sent overdue reminder for ' + $json.obligation_name + ' (was due ' + $json.due_date + ') - email + SMS', data_snapshot: { id: $json.id, obligation_name: $json.obligation_name, category: $json.category, due_date: $json.due_date, status: $json.status, threshold: $json.threshold, days_until_due: $json.days_until_due, owner: $json.owner, description: $json.description }, quarter: $json.current_quarter, fiscal_year: $json.fiscal_year }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0021-0021-0021-000000000021",
      "name": "[LOG] Log Overdue Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'compliance_sentinel', event_type: 'status_change', summary: 'Auto-renewed ' + $json.obligation_name + ' (' + $json.recurrence + ') - next due ' + $json.due_date, data_snapshot: { obligation_name: $json.obligation_name, category: $json.category, recurrence: $json.recurrence, new_due_date: $json.due_date, notes: $json.notes }, quarter: 'Q' + (Math.floor(new Date().getMonth() / 3) + 1), fiscal_year: new Date().getFullYear() }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0022-0022-0022-000000000022",
      "name": "[LOG] Log Renewal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0023-0023-0023-000000000023",
      "name": "[NOTIFY] Daily 14d Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 720],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/message/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'sms', to: $env.FOUNDER_PHONE, message: $json.sms_message }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0024-0024-0024-000000000024",
      "name": "[NOTIFY] Daily 14d SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 720],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0025-0025-0025-000000000025",
      "name": "[NOTIFY] Daily Due Today Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 860],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/compliance_obligations?id=eq.{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'overdue', updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0026-0026-0026-000000000026",
      "name": "[MARK] Daily Set Overdue Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 860],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: $json.email_subject, html: $json.email_html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0027-0027-0027-000000000027",
      "name": "[NOTIFY] Daily Overdue Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 1000],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/message/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.VAPI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'sms', to: $env.FOUNDER_PHONE, message: $json.sms_message }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0028-0028-0028-000000000028",
      "name": "[NOTIFY] Daily Overdue SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 1000],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'compliance_sentinel', event_type: 'reminder', summary: 'Daily scan: sent ' + $json.threshold + ' reminder for ' + $json.obligation_name + ' (due ' + $json.due_date + ')', data_snapshot: { id: $json.id, obligation_name: $json.obligation_name, category: $json.category, due_date: $json.due_date, status: $json.status, threshold: $json.threshold, days_until_due: $json.days_until_due, owner: $json.owner }, quarter: $json.current_quarter, fiscal_year: $json.fiscal_year }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "cs-0029-0029-0029-000000000029",
      "name": "[LOG] Daily Log Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 860],
      "continueOnFail": true
    }
  ],
  "connections": {
    "[TRIGGER] Weekly Monday 8AM ET": {
      "main": [
        [
          {
            "node": "[SCAN] Query All Obligations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TRIGGER] Daily Tue-Sun 8AM ET": {
      "main": [
        [
          {
            "node": "[SCAN] Query Urgent Obligations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SCAN] Query All Obligations": {
      "main": [
        [
          {
            "node": "[LOGIC] Calculate Days Until Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[SCAN] Query Urgent Obligations": {
      "main": [
        [
          {
            "node": "[LOGIC] Filter 14-Day and Overdue Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[LOGIC] Calculate Days Until Due": {
      "main": [
        [
          {
            "node": "[LOGIC] Check Completed For Renewal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[LOGIC] Check Completed For Renewal": {
      "main": [
        [
          {
            "node": "[ROUTE] Split By Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[LOGIC] Filter 14-Day and Overdue Only": {
      "main": [
        [
          {
            "node": "[ROUTE] Daily Split By Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ROUTE] Split By Threshold": {
      "main": [
        [
          {
            "node": "[NOTIFY] 30d Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[NOTIFY] 14d Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[NOTIFY] Due Today Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[NOTIFY] Overdue Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[RENEW] Auto-Create Next Occurrence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ROUTE] Daily Split By Threshold": {
      "main": [
        [
          {
            "node": "[NOTIFY] Daily 14d Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[NOTIFY] Daily Due Today Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[NOTIFY] Daily Overdue Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] 30d Email": {
      "main": [
        [
          {
            "node": "[LOG] Log 30d Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] 14d Email": {
      "main": [
        [
          {
            "node": "[NOTIFY] 14d SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] 14d SMS": {
      "main": [
        [
          {
            "node": "[LOG] Log 14d Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Due Today Email": {
      "main": [
        [
          {
            "node": "[MARK] Set Overdue Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[MARK] Set Overdue Status": {
      "main": [
        [
          {
            "node": "[LOG] Log Overdue Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Overdue Email": {
      "main": [
        [
          {
            "node": "[NOTIFY] Overdue SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Overdue SMS": {
      "main": [
        [
          {
            "node": "[LOG] Log Overdue Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[RENEW] Auto-Create Next Occurrence": {
      "main": [
        [
          {
            "node": "[LOG] Log Renewal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Daily 14d Email": {
      "main": [
        [
          {
            "node": "[NOTIFY] Daily 14d SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Daily 14d SMS": {
      "main": [
        [
          {
            "node": "[LOG] Daily Log Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Daily Due Today Email": {
      "main": [
        [
          {
            "node": "[MARK] Daily Set Overdue Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[MARK] Daily Set Overdue Status": {
      "main": [
        [
          {
            "node": "[LOG] Daily Log Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Daily Overdue Email": {
      "main": [
        [
          {
            "node": "[NOTIFY] Daily Overdue SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[NOTIFY] Daily Overdue SMS": {
      "main": [
        [
          {
            "node": "[LOG] Daily Log Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sentinel-local",
    "notes": "SUMMARY_HOOK: Plan 02-02 will extend the weekly path after [LOG] Log 30d Reminder / [LOG] Log 14d Reminder / [LOG] Log Overdue Status Change / [LOG] Log Overdue Reminder nodes with weekly summary PDF generation pipeline (Claude AI formatting, PDF creation, Supabase Storage upload, Google Drive backup, summary email delivery)."
  },
  "id": "wf-compliance-sentinel",
  "tags": [
    {
      "createdAt": "2026-03-12T00:00:00.000Z",
      "updatedAt": "2026-03-12T00:00:00.000Z",
      "id": "governance",
      "name": "governance"
    },
    {
      "createdAt": "2026-03-12T00:00:00.000Z",
      "updatedAt": "2026-03-12T00:00:00.000Z",
      "id": "compliance",
      "name": "compliance"
    }
  ]
}
