n8n-workflows/wf-document-drafter.json
{
  "name": "Document Drafter - Governance Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-drafter",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dd-0001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', message: 'Document generation started', document_type: $json.body?.document_type || 'unknown' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "dd-0002",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst documentType = body.document_type;\nconst context = body.context || {};\n\n// Embedded validation schemas\nconst schemas = {\n  contractor_agreement: { required: ['contractor_name', 'effective_date', 'services_description'] },\n  client_contract: { required: ['client_name', 'service_type', 'project_description', 'pricing'] },\n  operating_agreement_update: { required: ['amendment_description', 'effective_date'] },\n  emergency_ops_binder: { required: [] },\n  data_retention_policy: { required: [] },\n  nda: { required: ['party_name', 'party_address', 'effective_date'] },\n  policy_update: { required: ['policy_name', 'policy_description'] }\n};\n\nif (!documentType || !schemas[documentType]) {\n  throw new Error('Invalid document_type: ' + documentType + '. Valid types: ' + Object.keys(schemas).join(', '));\n}\n\nconst schema = schemas[documentType];\nconst missing = schema.required.filter(f => !context[f]);\nif (missing.length > 0) {\n  throw new Error('Missing required fields for ' + documentType + ': ' + missing.join(', '));\n}\n\n// Reference path mapping\nconst referenceMap = {\n  contractor_agreement: 'reference/section-7.5.2-contractor-management.md',\n  client_contract: 'reference/section-3-service-pricing.md',\n  operating_agreement_update: 'reference/section-7.5.1-operating-agreement.md',\n  emergency_ops_binder: 'reference/section-7.5.5-emergency-ops.md',\n  data_retention_policy: 'reference/section-4.7-data-retention.md',\n  nda: 'reference/section-7.5-legal-governance.md',\n  policy_update: 'reference/section-7.5-legal-governance.md'\n};\n\nconst now = new Date();\nconst datestamp = now.toISOString().slice(0, 10);\nconst month = now.getMonth();\nconst quarter = 'Q' + (Math.floor(month / 3) + 1);\nconst fiscalYear = now.getFullYear();\nconst storagePath = 'drafts/' + datestamp + '_' + documentType + '.docx';\n\nreturn [{\n  json: {\n    document_type: documentType,\n    context,\n    datestamp,\n    storage_path: storagePath,\n    reference_path: referenceMap[documentType],\n    quarter,\n    fiscal_year: fiscalYear\n  }\n}];"
      },
      "id": "dd-0003",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/governance/{{ $json.reference_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "dd-0004",
      "name": "Load Business Plan Reference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Validate Payload').first().json;\nconst refResponse = $input.first().json;\nconst referenceContent = (typeof refResponse === 'string') ? refResponse : (refResponse.data || refResponse.body || '');\n\nconst ctx = prev.context;\nconst docType = prev.document_type;\n\n// Base system prompt\nconst basePrompt = `You are a legal document drafting assistant for Faith & Harmony LLC (DBA Sentinel Aerial Inspections), a single-member Virginia LLC providing commercial drone, aerial photography, and property inspection services. The sole member and managing member is Dradamo Pierce.\n\nYour task is to generate a legal document draft as structured JSON.\n\nWriting standards:\n- Active voice throughout\n- Direct, clear legal language\n- No marketing fluff or corporate jargon\n- Use numbered sections and subsections\n- Keep sentences concise and unambiguous\n\n[ATTORNEY REVIEW] placeholders:\n- Insert [ATTORNEY REVIEW: brief description] in any section requiring professional legal judgment\n- Do NOT include specific Virginia Code citations\n- Every document MUST have at least one [ATTORNEY REVIEW] placeholder\n\nOutput format: Return ONLY valid JSON with this structure:\n{\n  \"title\": \"Document title\",\n  \"date_line\": \"Effective date or draft date\",\n  \"sections\": [\n    {\n      \"heading\": \"Section title\",\n      \"number\": \"1\",\n      \"content\": \"Section content text\",\n      \"subsections\": [\n        { \"number\": \"1.1\", \"content\": \"Subsection content\" }\n      ]\n    }\n  ]\n}\n\nBusiness context:\\n` + (referenceContent || 'No reference data available.') + `\\n\\nRespond with raw JSON only. No markdown code fences.`;\n\n// Per-type prompts\nconst typePrompts = {\n  contractor_agreement: `Generate an Independent Contractor Agreement with:\\nContractor: ${ctx.contractor_name || 'TBD'}\\nEffective Date: ${ctx.effective_date || 'TBD'}\\nServices: ${ctx.services_description || 'TBD'}\\nCompensation: ${ctx.compensation_rate || 'TBD'} (${ctx.compensation_structure || 'per job'})\\nTerm: ${ctx.term_months || '12'} months\\nTerritory: ${ctx.territory || 'Virginia'}\\n\\nInclude 14 sections: Parties/Recitals, Scope of Services, Term/Termination, Compensation/Payment, Independent Contractor Status, Equipment/Materials, Insurance Requirements [ATTORNEY REVIEW], IP Assignment [ATTORNEY REVIEW], Confidentiality, Non-Compete/Non-Solicitation [ATTORNEY REVIEW], Indemnification [ATTORNEY REVIEW], Limitation of Liability [ATTORNEY REVIEW], General Provisions (Virginia governing law), Signature Block.\\n\\nVirginia-specific: governed by Virginia law, reasonable non-compete scope, satisfy Virginia employment law tests.`,\n\n  client_contract: `Generate a Client Service Agreement with:\\nClient: ${ctx.client_name || 'TBD'}\\nCompany: ${ctx.client_company || ''}\\nService Type: ${ctx.service_type || 'TBD'}\\nProject: ${ctx.project_description || 'TBD'}\\nPricing: ${ctx.pricing || 'TBD'}\\nCompletion: ${ctx.estimated_completion || 'TBD'}\\nSpecial Terms: ${ctx.special_terms || 'None'}\\n\\nInclude 13 sections: Parties, Scope of Services, Deliverables, Pricing/Payment [ATTORNEY REVIEW], Timeline, Client Responsibilities, Liability/Insurance [ATTORNEY REVIEW], Data Handling/Privacy [ATTORNEY REVIEW], Cancellation/Refund, Force Majeure, Governing Law (Virginia), General Provisions, Signature Block.\\n\\nPricing reference: Residential $400+, Commercial $750+, Retainer $1,500/mo.`,\n\n  operating_agreement_update: `Generate an Operating Agreement Amendment for Faith & Harmony LLC with the following details:\\nAmendment Description: ${ctx.amendment_description || 'TBD'}\\nEffective Date: ${ctx.effective_date || 'TBD'}\\nResolution Reference: ${ctx.resolution_reference || ''}\\nRationale: ${ctx.rationale || ''}\\n\\nThe amendment must include all of the following sections:\\n\\n1. Recitals - State that Faith & Harmony LLC is a Virginia single-member LLC, identify the original Operating Agreement date, and state the purpose of this amendment.\\n\\n2. Amendment Details - Describe the specific changes to the Operating Agreement. Reference the exact sections being modified. Use clear 'is hereby amended to read as follows' language.\\n\\n3. Rationale - Explain the business justification for the amendment. Reference any governance decision or resolution that authorized this change.\\n\\n4. Effect on Remaining Provisions - State that all other provisions of the Operating Agreement remain in full force and effect. [ATTORNEY REVIEW: confirm no conflicts with existing provisions]\\n\\n5. Severability - If any provision of this amendment is held invalid, the remaining provisions continue in effect.\\n\\n6. Effective Date - Specify when the amendment takes effect.\\n\\n7. Certification - Statement that the sole member has duly authorized and executed this amendment.\\n\\n8. Signature Block - Space for sole member signature with printed name, title (Managing Member), and date.\\n\\nVirginia-specific: Reference Virginia Limited Liability Company Act as governing law. [ATTORNEY REVIEW: verify compliance with Virginia LLC Act requirements for operating agreement amendments]`,\n\n  emergency_ops_binder: `Generate an Emergency Operations Binder for Faith & Harmony LLC (DBA Sentinel Aerial Inspections) drone operations.\\nFocus Area: ${ctx.focus_area || ''}\\nAdditional Contacts: ${ctx.additional_contacts || ''}\\n\\nThe binder must include all of the following sections:\\n\\n1. Emergency Contact List - Include FAA emergency line, local emergency services (911), insurance provider, legal counsel contact placeholder, equipment manufacturer support lines, and company emergency contacts.\\n\\n2. Incident Response Procedures - Step-by-step procedures for drone crashes, property damage incidents, personal injury incidents, and near-miss events. Include immediate actions, documentation requirements, and notification chain.\\n\\n3. Equipment Failure Protocols - Procedures for in-flight equipment failures, battery emergencies, GPS loss, communication link failure, and camera/sensor malfunctions. Include safe landing procedures and equipment quarantine steps.\\n\\n4. Weather Emergency Procedures - Decision criteria for weather-related flight cancellation or delay. Include wind speed limits, precipitation thresholds, visibility minimums, and lightning/storm protocols. Reference FAA Part 107 weather requirements.\\n\\n5. Client Communication Templates - Pre-written templates for: incident notification to client, weather delay notification, rescheduling communication, and post-incident follow-up.\\n\\n6. Insurance Claims Process - Step-by-step guide for filing insurance claims after incidents. Include documentation checklist, photo/video evidence requirements, timeline for filing, and contact information for the insurance claims adjuster.\\n\\n7. FAA Incident Reporting Requirements - Summary of when and how to report incidents to the FAA. Include the accident and incident reporting thresholds, reporting timelines, and form references. [ATTORNEY REVIEW: verify current FAA reporting requirements and thresholds]\\n\\n8. Evidence Preservation Protocol - Procedures for preserving drone flight logs, telemetry data, video footage, and witness statements after any incident. Include chain of custody requirements.\\n\\n9. Recovery and Return to Operations - Procedures for equipment inspection after incidents, return-to-service requirements, post-incident review meetings, and lessons learned documentation.`,\n\n  data_retention_policy: `Generate a Data Retention Policy for Faith & Harmony LLC (DBA Sentinel Aerial Inspections).\\nRetention Period Override: ${ctx.retention_period_override || ''}\\nSpecific Data Types: ${ctx.specific_data_types || ''}\\n\\nThe policy must include all of the following sections:\\n\\n1. Purpose - State the purpose of the data retention policy and its applicability to all company data.\\n\\n2. Scope - Define which data this policy covers: drone inspection imagery, aerial photographs, video footage, client information, financial records, personnel files, contracts, and operational data.\\n\\n3. Data Categories and Retention Periods:\\n   - Drone imagery and inspection reports: 7 years (client deliverables)\\n   - Raw flight data and telemetry: 3 years\\n   - Client contact and project information: Duration of relationship plus 5 years\\n   - Financial records and tax documents: 7 years per IRS requirements\\n   - Employee/contractor records: Duration of engagement plus 4 years\\n   - Contracts and legal documents: Duration of agreement plus 7 years\\n   - Marketing materials and proposals: 3 years\\n   - Internal communications: 2 years\\n   [ATTORNEY REVIEW: verify retention periods comply with Virginia and federal requirements]\\n\\n4. Storage and Security - Describe storage locations (Supabase cloud, local backups), encryption requirements, access controls, and backup procedures.\\n\\n5. Access Controls - Define who can access which data categories. Specify authentication requirements and audit logging.\\n\\n6. Data Disposal Procedures - Describe secure deletion methods for digital data. Include certificate of destruction requirements for sensitive data.\\n\\n7. Client Data Rights - Address client requests for data access, data portability, and data deletion. Include response timeframes. [ATTORNEY REVIEW: Virginia Consumer Data Protection Act compliance requirements]\\n\\n8. Compliance Requirements - Reference applicable regulations: Virginia Consumer Data Protection Act, FAA recordkeeping requirements, IRS document retention rules.\\n\\n9. Incident Response for Data Breaches - Procedures for identifying, containing, and reporting data breaches. Include notification timelines and requirements. [ATTORNEY REVIEW: Virginia data breach notification requirements]\\n\\n10. Policy Review Schedule - This policy will be reviewed annually or when significant changes occur in operations or applicable laws.`,\n\n  nda: `Generate a Mutual Non-Disclosure Agreement between Faith & Harmony LLC and the following party:\\nParty Name: ${ctx.party_name || 'TBD'}\\nParty Address: ${ctx.party_address || 'TBD'}\\nEffective Date: ${ctx.effective_date || 'TBD'}\\nScope Description: ${ctx.scope_description || ctx.purpose || ''}\\nTerm: ${ctx.term_months || ctx.term_years ? (ctx.term_years * 12) : '24'} months\\n\\nThe NDA must include all of the following sections:\\n\\n1. Parties - Identify Faith & Harmony LLC (DBA Sentinel Aerial Inspections) as the first party and the named party as the second party. Include addresses.\\n\\n2. Purpose - State the purpose of the mutual exchange of confidential information (business relationship evaluation, contractor engagement, partnership discussion, etc.).\\n\\n3. Definition of Confidential Information - Define what constitutes confidential information for both parties. Include: business plans, financial information, client lists, pricing strategies, proprietary inspection methodologies, drone operation procedures, technical specifications, and trade secrets.\\n\\n4. Exclusions from Confidential Information - Standard exclusions: publicly available information, independently developed information, information received from third parties without restriction, and information required by law to disclose.\\n\\n5. Obligations of Receiving Party - Non-disclosure, non-use except for stated purpose, protection standards (at least same as own confidential information), and limitation of access to authorized personnel.\\n\\n6. Term of Agreement - Specify the agreement duration and state that confidentiality obligations survive termination for a period of 2 years (or as specified). [ATTORNEY REVIEW: appropriate survival period for drone services industry]\\n\\n7. Return of Materials - Upon termination or request, all confidential materials must be returned or destroyed with written certification.\\n\\n8. Remedies - Acknowledge that breach may cause irreparable harm and that injunctive relief may be sought in addition to other remedies. [ATTORNEY REVIEW: specific remedies and injunctive relief provisions under Virginia law]\\n\\n9. Governing Law and Jurisdiction - This agreement is governed by the laws of the Commonwealth of Virginia. Specify venue for disputes.\\n\\n10. General Provisions - Entire agreement, amendment requirement (written and signed), severability, waiver, assignment restrictions, and counterparts.\\n\\n11. Signature Block - Spaces for both parties to sign with printed name, title, date.`,\n\n  policy_update: `Generate an Internal Policy Document for Faith & Harmony LLC (DBA Sentinel Aerial Inspections):\\nPolicy Name: ${ctx.policy_name || 'TBD'}\\nPolicy Description: ${ctx.policy_description || 'TBD'}\\nEffective Date: ${ctx.effective_date || ''}\\nSupersedes: ${ctx.supersedes || 'N/A'}\\n\\nThe policy document must include all of the following sections:\\n\\n1. Purpose - State the purpose and objectives of this policy clearly and concisely.\\n\\n2. Scope - Define who this policy applies to (employees, contractors, vendors) and under what circumstances.\\n\\n3. Definitions - Define key terms used throughout the policy to avoid ambiguity.\\n\\n4. Policy Statement - The core policy content. State the rules, standards, and expectations clearly. Use numbered or lettered items for multiple provisions.\\n\\n5. Procedures - Step-by-step procedures for implementing and following the policy. Include workflow descriptions where applicable.\\n\\n6. Roles and Responsibilities - Define who is responsible for policy implementation, oversight, enforcement, and exception approval.\\n\\n7. Compliance and Enforcement - Describe consequences for non-compliance and the process for reporting violations. [ATTORNEY REVIEW: enforcement and disciplinary provisions, regulatory compliance claims, liability waivers in safety policies]\\n\\n8. Exceptions - Process for requesting and approving exceptions to the policy. Specify approval authority.\\n\\n9. Related Documents - Reference any related policies, procedures, or external regulations.\\n\\n10. Version History - Include a version history table with date, version number, and description of changes.\\n\\n11. Review and Updates - State the review frequency (annual recommended) and the process for proposing amendments.\\n\\n12. Acknowledgment - Statement that all covered individuals must acknowledge receipt and understanding of this policy.\\n\\nIf this policy supersedes a previous version, include a summary of key changes from the prior version.`\n};\n\nconst userPrompt = typePrompts[docType] || 'Generate a document based on the provided context.';\n\nreturn [{\n  json: {\n    system_prompt: basePrompt,\n    user_prompt: userPrompt,\n    document_type: docType,\n    context: ctx,\n    datestamp: prev.datestamp,\n    storage_path: prev.storage_path,\n    quarter: prev.quarter,\n    fiscal_year: prev.fiscal_year\n  }\n}];"
      },
      "id": "dd-0005",
      "name": "Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8192, temperature: 0, system: $json.system_prompt, messages: [{ role: 'user', content: $json.user_prompt }] }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "dd-0006",
      "name": "Generate Document Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst prev = $('Build Prompts').first().json;\n\nlet text = response.content[0].text.trim();\n// Strip markdown code fences\nif (text.startsWith('```')) {\n  text = text.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n}\n\nlet doc;\ntry {\n  doc = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message + '. First 200 chars: ' + text.substring(0, 200));\n}\n\nif (!doc.title || !doc.sections || !Array.isArray(doc.sections)) {\n  throw new Error('Invalid document structure: missing title or sections array');\n}\n\nreturn [{\n  json: {\n    document: doc,\n    document_type: prev.document_type,\n    context: prev.context,\n    datestamp: prev.datestamp,\n    storage_path: prev.storage_path,\n    quarter: prev.quarter,\n    fiscal_year: prev.fiscal_year\n  }\n}];"
      },
      "id": "dd-0007",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "const { Document, Packer, Paragraph, TextRun, HeadingLevel, AlignmentType, Header, Footer } = require('docx');\n\nconst doc = $json.document;\nconst children = [];\n\n// Helper: process text with [ATTORNEY REVIEW] highlighting\nfunction processText(text) {\n  if (!text) return [new TextRun({ text: '' })];\n  const parts = String(text).split(/(\\[ATTORNEY REVIEW:[^\\]]*\\])/);\n  return parts.map(part => {\n    if (part.match(/^\\[ATTORNEY REVIEW:/)) {\n      return new TextRun({ text: part, bold: true, color: 'FF0000', highlight: 'yellow' });\n    }\n    return new TextRun({ text: part });\n  });\n}\n\n// Title\nchildren.push(new Paragraph({\n  children: [new TextRun({ text: doc.title, bold: true, size: 32 })],\n  alignment: AlignmentType.CENTER\n}));\nchildren.push(new Paragraph({\n  text: doc.date_line || $json.datestamp,\n  alignment: AlignmentType.CENTER\n}));\nchildren.push(new Paragraph({ text: '' }));\n\n// Sections\nfor (const section of doc.sections) {\n  children.push(new Paragraph({\n    text: (section.number ? section.number + '. ' : '') + section.heading,\n    heading: HeadingLevel.HEADING_1\n  }));\n\n  if (section.content) {\n    const contentParts = section.content.split('\\n\\n');\n    for (const part of contentParts) {\n      if (part.trim()) {\n        children.push(new Paragraph({ children: processText(part.trim()) }));\n      }\n    }\n  }\n\n  if (section.subsections) {\n    for (const sub of section.subsections) {\n      children.push(new Paragraph({\n        children: [\n          new TextRun({ text: sub.number + ' ', bold: true }),\n          ...processText(sub.content || '')\n        ],\n        indent: { left: 360 }\n      }));\n    }\n  }\n\n  children.push(new Paragraph({ text: '' }));\n}\n\nconst document = new Document({\n  sections: [{\n    headers: {\n      default: new Header({\n        children: [new Paragraph({\n          children: [new TextRun({ text: 'Faith & Harmony LLC - DRAFT - ATTORNEY REVIEW REQUIRED', italics: true, size: 16, color: '999999' })],\n          alignment: AlignmentType.CENTER\n        })]\n      })\n    },\n    footers: {\n      default: new Footer({\n        children: [new Paragraph({\n          children: [new TextRun({ text: 'CONFIDENTIAL DRAFT - NOT FOR EXECUTION', italics: true, size: 16, color: '999999' })],\n          alignment: AlignmentType.CENTER\n        })]\n      })\n    },\n    children\n  }]\n});\n\nconst buffer = await Packer.toBuffer(document);\nconst filename = $json.datestamp + '_' + $json.document_type + '.docx';\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(buffer),\n  filename,\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n);\n\nreturn [{\n  json: {\n    filename,\n    storage_path: $json.storage_path,\n    document_type: $json.document_type,\n    context: $json.context,\n    datestamp: $json.datestamp,\n    quarter: $json.quarter,\n    fiscal_year: $json.fiscal_year,\n    document_title: doc.title\n  },\n  binary: { data: binaryData }\n}];"
      },
      "id": "dd-0008",
      "name": "Build DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/governance/{{ $json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/vnd.openxmlformats-officedocument.wordprocessingml.document" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": { "timeout": 30000 }
      },
      "id": "dd-0009",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/sign/governance/{{ $('Build DOCX').first().json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ expiresIn: 604800 }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "dd-0010",
      "name": "Create Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_name: 'document_drafter', event_type: 'generation', summary: 'Generated ' + $('Build DOCX').first().json.document_type + ' draft: ' + $('Build DOCX').first().json.document_title, document_url: 'governance/' + $('Build DOCX').first().json.storage_path, data_snapshot: { document_type: $('Build DOCX').first().json.document_type, context: $('Build DOCX').first().json.context }, quarter: $('Build DOCX').first().json.quarter, fiscal_year: $('Build DOCX').first().json.fiscal_year }) }}"
      },
      "id": "dd-0011",
      "name": "Log to Governance Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: 'Document Draft Ready: ' + $('Build DOCX').first().json.document_type.replace(/_/g, ' '), html: '<h2>Document Draft Generated</h2><p>A new <strong>' + $('Build DOCX').first().json.document_type.replace(/_/g, ' ') + '</strong> draft has been generated.</p><p style=\"background-color:#FEF3C7;border:2px solid #F59E0B;padding:12px;border-radius:6px;\"><strong style=\"color:#DC2626;\">ATTORNEY REVIEW REQUIRED</strong><br/>This document contains [ATTORNEY REVIEW] placeholders that must be reviewed by a qualified attorney before execution.</p><p><a href=\"' + $env.SUPABASE_URL + '/storage/v1' + ($json.signedURL || $json.signedUrl || '') + '\" style=\"display:inline-block;padding:12px 24px;background-color:#2563eb;color:#ffffff;text-decoration:none;border-radius:6px;font-weight:bold;\">Download Draft (DOCX)</a></p><p style=\"color:#6b7280;font-size:12px;\">This link expires in 7 days.</p>' }) }}"
      },
      "id": "dd-0012",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Respond Accepted", "type": "main", "index": 0 }]
      ]
    },
    "Respond Accepted": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Load Business Plan Reference", "type": "main", "index": 0 }]
      ]
    },
    "Load Business Plan Reference": {
      "main": [
        [{ "node": "Build Prompts", "type": "main", "index": 0 }]
      ]
    },
    "Build Prompts": {
      "main": [
        [{ "node": "Generate Document Content", "type": "main", "index": 0 }]
      ]
    },
    "Generate Document Content": {
      "main": [
        [{ "node": "Parse Claude Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [{ "node": "Build DOCX", "type": "main", "index": 0 }]
      ]
    },
    "Build DOCX": {
      "main": [
        [{ "node": "Upload to Supabase Storage", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [{ "node": "Create Signed URL", "type": "main", "index": 0 }]
      ]
    },
    "Create Signed URL": {
      "main": [
        [{ "node": "Log to Governance Log", "type": "main", "index": 0 }]
      ]
    },
    "Log to Governance Log": {
      "main": [
        [{ "node": "Send Email Notification", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "tags": [
    { "name": "governance" },
    { "name": "document-drafter" }
  ]
}
