n8n-workflows/wf-financial-analyst.json
{
  "name": "Financial Analyst Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1-3 * *"
            }
          ]
        }
      },
      "id": "fa-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth();\n\n// Find first weekday of current month\nlet firstBizDay = new Date(year, month, 1);\nconst dayOfWeek = firstBizDay.getDay();\nif (dayOfWeek === 0) firstBizDay.setDate(2);\nif (dayOfWeek === 6) firstBizDay.setDate(3);\n\n// Skip New Year's Day (Jan 1 on weekday -> Jan 2)\nif (month === 0 && firstBizDay.getDate() === 1) {\n  firstBizDay.setDate(2);\n  if (firstBizDay.getDay() === 0) firstBizDay.setDate(3);\n  if (firstBizDay.getDay() === 6) firstBizDay.setDate(4);\n}\n\nconst isFirstBizDay = now.getDate() === firstBizDay.getDate()\n  && now.getMonth() === firstBizDay.getMonth();\n\nif (!isFirstBizDay) {\n  return [{ json: { is_first_biz_day: false } }];\n}\n\n// Target month is previous month\nconst targetDate = new Date(year, month - 1, 1);\nconst targetMonth = targetDate.toISOString().slice(0, 10);\nconst reportLabel = targetDate.toLocaleString('en-US', { month: 'long', year: 'numeric' });\n\nreturn [{\n  json: {\n    is_first_biz_day: true,\n    target_month: targetMonth,\n    report_label: reportLabel,\n    fiscal_year: targetDate.getFullYear()\n  }\n}];"
      },
      "id": "fa-0002-0002-0002-000000000002",
      "name": "Check First Business Day",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-first-biz-day",
              "leftValue": "={{ $json.is_first_biz_day }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fa-0003-0003-0003-000000000003",
      "name": "Is First Business Day?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {},
      "id": "fa-0004-0004-0004-000000000004",
      "name": "Not First Biz Day - Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "financial-analyst",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fa-0005-0005-0005-000000000005",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 700]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nlet targetMonth, reportLabel, fiscalYear;\n\nif (body.month) {\n  const d = new Date(body.month + 'T00:00:00Z');\n  targetMonth = d.toISOString().slice(0, 10);\n  reportLabel = d.toLocaleString('en-US', { month: 'long', year: 'numeric', timeZone: 'UTC' });\n  fiscalYear = d.getUTCFullYear();\n} else {\n  const now = new Date();\n  const d = new Date(now.getFullYear(), now.getMonth() - 1, 1);\n  targetMonth = d.toISOString().slice(0, 10);\n  reportLabel = d.toLocaleString('en-US', { month: 'long', year: 'numeric' });\n  fiscalYear = d.getFullYear();\n}\n\nreturn [{\n  json: {\n    is_first_biz_day: true,\n    target_month: targetMonth,\n    report_label: reportLabel,\n    fiscal_year: fiscalYear\n  }\n}];"
      },
      "id": "fa-0006-0006-0006-000000000006",
      "name": "Parse Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 700]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "id": "fa-0007-0007-0007-000000000007",
      "name": "Merge Target Month",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/financial_actuals?month=eq.{{ $json.target_month }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "fa-0008-0008-0008-000000000008",
      "name": "Get Financial Actuals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/budget_baselines?fiscal_year=eq.{{ $json.fiscal_year }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "fa-0009-0009-0009-000000000009",
      "name": "Get Budget Baseline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/financial_actuals?month=gte.{{ $json.fiscal_year }}-01-01&month=lte.{{ $json.target_month }}&order=month.asc&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "fa-0010-0010-0010-000000000010",
      "name": "Get YTD Actuals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const d = new Date($json.target_month + 'T00:00:00Z'); d.setUTCMonth(d.getUTCMonth() - 1); return $env.SUPABASE_URL + '/rest/v1/financial_actuals?month=eq.' + d.toISOString().slice(0,10) + '&select=*'; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "fa-0011-0011-0011-000000000011",
      "name": "Get Previous Month",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 700]
    },
    {
      "parameters": {
        "jsCode": "const actualsArr = $('Get Financial Actuals').first().json;\nconst budgetArr = $('Get Budget Baseline').first().json;\nconst ytdArr = $('Get YTD Actuals').all().map(i => i.json);\nconst prevArr = $('Get Previous Month').first().json;\nconst mergeData = $('Merge Target Month').first().json;\n\n// Handle Supabase REST response (returns array)\nconst actuals = Array.isArray(actualsArr) ? actualsArr[0] : actualsArr;\nconst budget = Array.isArray(budgetArr) ? budgetArr[0] : budgetArr;\nconst ytdActuals = Array.isArray(ytdArr[0]) ? ytdArr[0] : ytdArr;\nconst prevMonth = Array.isArray(prevArr) ? prevArr[0] : prevArr;\n\nconst targetMonth = mergeData.target_month;\nconst reportLabel = mergeData.report_label;\nconst fiscalYear = mergeData.fiscal_year;\n\nif (!actuals || (Array.isArray(actualsArr) && actualsArr.length === 0)) {\n  return [{ json: { has_data: false, target_month: targetMonth, report_label: reportLabel, fiscal_year: fiscalYear } }];\n}\n\n// Parse budget JSONB fields\nconst revenueMix = typeof budget.revenue_mix === 'string' ? JSON.parse(budget.revenue_mix) : budget.revenue_mix;\nconst expenseCats = typeof budget.expense_categories === 'string' ? JSON.parse(budget.expense_categories) : budget.expense_categories;\n\n// Revenue calculations\nconst totalRevenue = Number(actuals.revenue_residential || 0) + Number(actuals.revenue_commercial || 0)\n  + Number(actuals.revenue_retainer || 0) + Number(actuals.revenue_other || 0);\nconst budgetMonthlyRevenue = Number(budget.monthly_revenue_avg);\n\nconst revenueByStream = {\n  residential: {\n    actual: Number(actuals.revenue_residential || 0),\n    budget: budgetMonthlyRevenue * (revenueMix.residential?.pct || 0.80),\n    variance_pct: 0\n  },\n  commercial: {\n    actual: Number(actuals.revenue_commercial || 0),\n    budget: budgetMonthlyRevenue * (revenueMix.commercial?.pct || 0.15),\n    variance_pct: 0\n  },\n  retainer: {\n    actual: Number(actuals.revenue_retainer || 0),\n    budget: budgetMonthlyRevenue * (revenueMix.retainer?.pct || 0.05),\n    variance_pct: 0\n  },\n  other: {\n    actual: Number(actuals.revenue_other || 0),\n    budget: 0,\n    variance_pct: 0\n  }\n};\n\nfor (const [key, stream] of Object.entries(revenueByStream)) {\n  if (stream.budget > 0) {\n    stream.variance_pct = Number(((stream.actual - stream.budget) / stream.budget * 100).toFixed(1));\n  }\n}\n\n// Expense calculations with 15% variance flagging\nconst expenseCategories = ['equipment', 'software', 'insurance', 'marketing', 'vehicle', 'professional', 'contractor', 'misc'];\nconst monthlyExpenseBudget = {};\nfor (const cat of expenseCategories) {\n  monthlyExpenseBudget[cat] = (expenseCats[cat] || 0) / 12;\n}\n\nconst expenses = {};\nlet totalExpenses = 0;\nconst flaggedCategories = [];\nfor (const cat of expenseCategories) {\n  const actual = Number(actuals['expense_' + cat] || 0);\n  const budgetAmt = monthlyExpenseBudget[cat];\n  const variancePct = budgetAmt > 0 ? ((actual - budgetAmt) / budgetAmt * 100) : 0;\n  expenses[cat] = { actual, budget: Number(budgetAmt.toFixed(2)), variance_pct: Number(variancePct.toFixed(1)) };\n  totalExpenses += actual;\n  if (variancePct > 15) {\n    flaggedCategories.push({ category: cat, variance_pct: Number(variancePct.toFixed(1)), actual, budget: Number(budgetAmt.toFixed(2)) });\n  }\n}\n\n// Profitability\nconst netIncome = totalRevenue - totalExpenses;\nconst netMargin = totalRevenue > 0 ? Number((netIncome / totalRevenue * 100).toFixed(1)) : 0;\nconst marginTarget = 35;\nconst breakEvenJobs = 20;\n\n// YTD calculations\nlet ytdRevenue = 0, ytdExpenses = 0, ytdJobs = 0;\nconst ytdRows = Array.isArray(ytdActuals) ? ytdActuals : [];\nfor (const row of ytdRows) {\n  ytdRevenue += Number(row.revenue_residential || 0) + Number(row.revenue_commercial || 0)\n    + Number(row.revenue_retainer || 0) + Number(row.revenue_other || 0);\n  for (const cat of expenseCategories) {\n    ytdExpenses += Number(row['expense_' + cat] || 0);\n  }\n  ytdJobs += Number(row.jobs_completed || 0);\n}\n\n// Cash position (monthly snapshot approach)\nconst startingCash = 0; // First month default; no running balance table\nconst endingCash = startingCash + totalRevenue - totalExpenses;\nconst daysInMonth = new Date(\n  new Date(targetMonth + 'T00:00:00Z').getUTCFullYear(),\n  new Date(targetMonth + 'T00:00:00Z').getUTCMonth() + 1, 0\n).getDate();\nconst monthlyBurnRate = totalExpenses;\n\n// MoM trend\nlet momTrend = { prev_revenue: 0, curr_revenue: totalRevenue, direction: 'flat', change_pct: 0 };\nif (prevMonth && !Array.isArray(prevMonth)) {\n  const prevRev = Number(prevMonth.revenue_residential || 0) + Number(prevMonth.revenue_commercial || 0)\n    + Number(prevMonth.revenue_retainer || 0) + Number(prevMonth.revenue_other || 0);\n  momTrend.prev_revenue = prevRev;\n  if (prevRev > 0) {\n    const changePct = ((totalRevenue - prevRev) / prevRev * 100);\n    momTrend.change_pct = Number(changePct.toFixed(1));\n    momTrend.direction = changePct > 2 ? 'up' : (changePct < -2 ? 'down' : 'flat');\n  }\n}\n\nreturn [{\n  json: {\n    has_data: true,\n    target_month: targetMonth,\n    report_label: reportLabel,\n    fiscal_year: fiscalYear,\n    raw_actuals: actuals,\n    metrics: {\n      total_revenue: totalRevenue,\n      total_expenses: totalExpenses,\n      revenue_by_stream: revenueByStream,\n      expenses_by_category: expenses,\n      flagged_categories: flaggedCategories,\n      jobs_completed: Number(actuals.jobs_completed || 0),\n      avg_job_value: Number(actuals.jobs_completed) > 0 ? Number((totalRevenue / Number(actuals.jobs_completed)).toFixed(2)) : 0,\n      net_income: netIncome,\n      net_margin: netMargin,\n      margin_target: marginTarget,\n      break_even_jobs: breakEvenJobs,\n      break_even_status: Number(actuals.jobs_completed) >= breakEvenJobs ? 'above' : 'below',\n      cash: { starting: startingCash, revenue_in: totalRevenue, expenses_out: totalExpenses, ending: endingCash, monthly_burn: monthlyBurnRate },\n      ytd: { revenue: ytdRevenue, expenses: ytdExpenses, jobs: ytdJobs, net_income: ytdRevenue - ytdExpenses },\n      budget: { monthly_revenue: budgetMonthlyRevenue, monthly_expense: Number(budget.monthly_expense_avg), monthly_jobs: Number(budget.monthly_jobs_avg) },\n      mom_trend: momTrend\n    }\n  }\n}];"
      },
      "id": "fa-0012-0012-0012-000000000012",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-data",
              "leftValue": "={{ $json.has_data }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fa-0013-0013-0013-000000000013",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "jsCode": "const targetMonth = $json.target_month;\nconst reportLabel = $json.report_label;\nconst fiscalYear = $json.fiscal_year;\n\nconst logEntry = {\n  agent_name: 'financial_analyst',\n  event_type: 'reminder',\n  summary: 'No financial data found for ' + reportLabel + '. Data entry required.',\n  data_snapshot: { target_month: targetMonth, reason: 'no_data' },\n  quarter: 'Q' + (Math.floor(new Date(targetMonth + 'T00:00:00Z').getUTCMonth() / 3) + 1),\n  fiscal_year: fiscalYear\n};\n\nconst emailHtml = '<h2>Financial Data Needed</h2>' +\n  '<p>No financial data was found in the <code>financial_actuals</code> table for <strong>' + reportLabel + '</strong>.</p>' +\n  '<p>Please enter the monthly financial data so the Financial Analyst agent can generate your report.</p>' +\n  '<p>Once data is entered, you can trigger a report manually via the webhook.</p>';\n\nreturn [{\n  json: {\n    log_entry: logEntry,\n    email_html: emailHtml,\n    report_label: reportLabel,\n    target_month: targetMonth\n  }\n}];"
      },
      "id": "fa-0014-0014-0014-000000000014",
      "name": "Prepare No Data Warning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.log_entry) }}"
      },
      "id": "fa-0015-0015-0015-000000000015",
      "name": "Log No Data Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Faith & Harmony <info@faithandharmonyllc.com>', to: [$env.FOUNDER_EMAIL], subject: 'Financial Data Needed: ' + $json.report_label, html: $json.email_html }) }}"
      },
      "id": "fa-0016-0016-0016-000000000016",
      "name": "Send No Data Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 600]
    },
    {
      "parameters": {},
      "id": "fa-0017-0017-0017-000000000017",
      "name": "End No Data Path",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2450, 600]
    },
    {
      "parameters": {
        "jsCode": "const m = $json.metrics;\nconst raw = $json.raw_actuals;\nconst reportLabel = $json.report_label;\nconst fiscalYear = $json.fiscal_year;\nconst targetMonth = $json.target_month;\n\nconst systemPrompt = `You are a financial analyst for Faith & Harmony LLC (DBA Sentinel Aerial Inspections), a drone services company. Generate a monthly financial summary report as structured JSON.\n\nWriting standards:\n- Active voice throughout\n- No dashes (use commas or periods instead)\n- Direct, conversational tone\n- No marketing fluff or corporate jargon\n- Be specific with numbers (always include dollar amounts and percentages)\n\nOutput format: Return ONLY valid JSON with this exact structure:\n{\n  \"revenue_summary\": {\n    \"heading\": \"Revenue Summary\",\n    \"narrative\": \"2-3 paragraphs comparing actual vs budget by revenue stream\",\n    \"mom_trend\": \"One sentence on month-over-month direction\",\n    \"ytd_status\": \"One sentence on year-to-date cumulative vs annual target\"\n  },\n  \"job_volume\": {\n    \"heading\": \"Job Volume\",\n    \"narrative\": \"2 paragraphs on job count, average value, mix shift toward commercial\"\n  },\n  \"expense_summary\": {\n    \"heading\": \"Expense Summary\",\n    \"narrative\": \"2-3 paragraphs with category breakdown\",\n    \"flagged_variances\": \"Paragraph specifically addressing any categories exceeding 15% of budget (or 'All expense categories are within 15% of budget.')\"\n  },\n  \"profitability\": {\n    \"heading\": \"Profitability\",\n    \"narrative\": \"2 paragraphs on net income, margin vs 35% target, break-even status vs 20 jobs\"\n  },\n  \"cash_position\": {\n    \"heading\": \"Cash Position\",\n    \"narrative\": \"1-2 paragraphs: starting cash, revenue in, expenses out, ending cash, burn rate\"\n  },\n  \"outlook\": {\n    \"heading\": \"Outlook\",\n    \"narrative\": \"2-3 paragraphs of forward-looking commentary\",\n    \"risks\": [\"risk 1\", \"risk 2\"],\n    \"opportunities\": [\"opportunity 1\"]\n  },\n  \"email_summary\": \"Exactly two sentences summarizing the month's financial performance for email body\"\n}\n\nIMPORTANT: Use ONLY the numbers provided below. Do not calculate or estimate any figures. All math has been pre-calculated for you.`;\n\n// Build the user prompt with all pre-calculated metrics\nconst revStreams = m.revenue_by_stream;\nconst expCats = m.expenses_by_category;\nconst flagged = m.flagged_categories;\nconst cash = m.cash;\nconst ytd = m.ytd;\nconst budget = m.budget;\nconst mom = m.mom_trend;\n\nlet flaggedText = 'None. All categories are within 15% of budget.';\nif (flagged.length > 0) {\n  flaggedText = flagged.map(f => `${f.category}: $${f.actual.toLocaleString()} actual vs $${f.budget.toLocaleString()} budget (${f.variance_pct}% over)`).join('; ');\n}\n\nconst userPrompt = `Generate the financial summary report for ${reportLabel} (Fiscal Year ${fiscalYear}).\n\nREVENUE:\n- Total Revenue: $${m.total_revenue.toLocaleString()}\n- Budget Target: $${budget.monthly_revenue.toLocaleString()}/month\n- Residential: $${revStreams.residential.actual.toLocaleString()} actual vs $${revStreams.residential.budget.toLocaleString()} budget (${revStreams.residential.variance_pct}% variance)\n- Commercial: $${revStreams.commercial.actual.toLocaleString()} actual vs $${revStreams.commercial.budget.toLocaleString()} budget (${revStreams.commercial.variance_pct}% variance)\n- Retainer: $${revStreams.retainer.actual.toLocaleString()} actual vs $${revStreams.retainer.budget.toLocaleString()} budget (${revStreams.retainer.variance_pct}% variance)\n- Other: $${revStreams.other.actual.toLocaleString()}\n- MoM Trend: ${mom.direction} (${mom.change_pct}% change from $${mom.prev_revenue.toLocaleString()} previous month)\n- YTD Revenue: $${ytd.revenue.toLocaleString()}\n\nJOB VOLUME:\n- Jobs Completed: ${m.jobs_completed}\n- Budget Target: ${budget.monthly_jobs} jobs/month\n- Average Job Value: $${m.avg_job_value}\n- Break-even Threshold: ${m.break_even_jobs} jobs\n- Break-even Status: ${m.break_even_status}\n- YTD Jobs: ${ytd.jobs}\n\nEXPENSES:\n- Total Expenses: $${m.total_expenses.toLocaleString()}\n- Budget Target: $${budget.monthly_expense.toLocaleString()}/month\n${Object.entries(expCats).map(([cat, v]) => `- ${cat}: $${v.actual.toLocaleString()} actual vs $${v.budget.toLocaleString()} budget (${v.variance_pct}% variance)`).join('\\n')}\n- Flagged Categories (>15% over budget): ${flaggedText}\n\nPROFITABILITY:\n- Net Income: $${m.net_income.toLocaleString()}\n- Net Margin: ${m.net_margin}%\n- Margin Target: ${m.margin_target}%\n- YTD Net Income: $${ytd.net_income.toLocaleString()}\n\nCASH POSITION:\n- Starting Cash: $${cash.starting.toLocaleString()}\n- Revenue In: $${cash.revenue_in.toLocaleString()}\n- Expenses Out: $${cash.expenses_out.toLocaleString()}\n- Ending Cash: $${cash.ending.toLocaleString()}\n- Monthly Burn Rate: $${cash.monthly_burn.toLocaleString()}\n\nNote: Starting cash balance assumes $0 for the first reporting period.\n\nUse ONLY the numbers provided. Do not calculate or estimate any figures.`;\n\nreturn [{\n  json: {\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt,\n    target_month: targetMonth,\n    report_label: reportLabel,\n    fiscal_year: fiscalYear,\n    raw_actuals: raw,\n    metrics: m\n  }\n}];"
      },
      "id": "fa-0018-0018-0018-000000000018",
      "name": "Prepare Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8192, temperature: 0, system: $json.system_prompt, messages: [{ role: 'user', content: $json.user_prompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "fa-0019-0019-0019-000000000019",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2020, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst prevData = $('Prepare Claude Prompt').first().json;\n\nlet reportJson;\nlet isValid = true;\nlet errorMsg = '';\n\ntry {\n  // Extract text from Claude API response\n  const text = response.content[0].text;\n\n  // Try to parse JSON from the response (handle potential markdown code blocks)\n  let jsonStr = text.trim();\n  if (jsonStr.startsWith('```')) {\n    jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n  }\n\n  reportJson = JSON.parse(jsonStr);\n\n  // Validate all 6 required sections exist\n  const requiredSections = ['revenue_summary', 'job_volume', 'expense_summary', 'profitability', 'cash_position', 'outlook'];\n  const missingSections = requiredSections.filter(s => !reportJson[s]);\n  if (missingSections.length > 0) {\n    isValid = false;\n    errorMsg = 'Missing sections: ' + missingSections.join(', ');\n  }\n\n  // Validate email_summary exists\n  if (!reportJson.email_summary) {\n    isValid = false;\n    errorMsg = (errorMsg ? errorMsg + '. ' : '') + 'Missing email_summary field';\n  }\n\n  // Validate each section has required fields\n  for (const section of requiredSections) {\n    if (reportJson[section] && !reportJson[section].narrative) {\n      isValid = false;\n      errorMsg = (errorMsg ? errorMsg + '. ' : '') + section + ' missing narrative field';\n    }\n  }\n} catch (e) {\n  isValid = false;\n  errorMsg = 'Failed to parse Claude response as JSON: ' + e.message;\n  reportJson = null;\n}\n\nreturn [{\n  json: {\n    is_valid: isValid,\n    error_message: errorMsg,\n    claude_response: reportJson,\n    target_month: prevData.target_month,\n    report_label: prevData.report_label,\n    fiscal_year: prevData.fiscal_year,\n    raw_actuals: prevData.raw_actuals,\n    metrics: prevData.metrics\n  }\n}];"
      },
      "id": "fa-0020-0020-0020-000000000020",
      "name": "Validate Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-claude-valid",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fa-0021-0021-0021-000000000021",
      "name": "Claude Response Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2460, 200]
    },
    {
      "parameters": {
        "jsCode": "const { Document, Packer, Paragraph, HeadingLevel, AlignmentType } = require('docx');\n\nconst report = $json.claude_response;\nconst reportLabel = $json.report_label;\nconst targetMonth = $json.target_month;\n\n// Build document sections\nconst children = [];\n\n// Title\nchildren.push(new Paragraph({\n  text: 'Financial Summary: ' + reportLabel,\n  heading: HeadingLevel.HEADING_1,\n  alignment: AlignmentType.CENTER\n}));\n\nchildren.push(new Paragraph({\n  text: 'Faith & Harmony LLC | Generated ' + new Date().toLocaleDateString('en-US'),\n  alignment: AlignmentType.CENTER\n}));\n\nchildren.push(new Paragraph({ text: '' }));\n\n// Add each section\nconst sections = ['revenue_summary', 'job_volume', 'expense_summary', 'profitability', 'cash_position', 'outlook'];\n\nfor (const sectionKey of sections) {\n  const section = report[sectionKey];\n  children.push(new Paragraph({\n    text: section.heading,\n    heading: HeadingLevel.HEADING_2\n  }));\n\n  // Split narrative into paragraphs\n  const paragraphs = section.narrative.split('\\n\\n');\n  for (const p of paragraphs) {\n    if (p.trim()) {\n      children.push(new Paragraph({ text: p.trim() }));\n    }\n  }\n\n  // Add MoM trend and YTD status for revenue summary\n  if (sectionKey === 'revenue_summary') {\n    if (section.mom_trend) {\n      children.push(new Paragraph({ text: '' }));\n      children.push(new Paragraph({ text: section.mom_trend }));\n    }\n    if (section.ytd_status) {\n      children.push(new Paragraph({ text: section.ytd_status }));\n    }\n  }\n\n  // Add flagged variances for expense section (bold)\n  if (sectionKey === 'expense_summary' && section.flagged_variances) {\n    children.push(new Paragraph({ text: '' }));\n    children.push(new Paragraph({\n      children: [new (require('docx').TextRun)({ text: section.flagged_variances, bold: true })]\n    }));\n  }\n\n  // Add risks and opportunities for outlook\n  if (sectionKey === 'outlook') {\n    if (section.risks && section.risks.length > 0) {\n      children.push(new Paragraph({ text: 'Risks:', heading: HeadingLevel.HEADING_3 }));\n      for (const risk of section.risks) {\n        children.push(new Paragraph({\n          text: risk,\n          bullet: { level: 0 }\n        }));\n      }\n    }\n    if (section.opportunities && section.opportunities.length > 0) {\n      children.push(new Paragraph({ text: 'Opportunities:', heading: HeadingLevel.HEADING_3 }));\n      for (const opp of section.opportunities) {\n        children.push(new Paragraph({\n          text: opp,\n          bullet: { level: 0 }\n        }));\n      }\n    }\n  }\n\n  children.push(new Paragraph({ text: '' }));\n}\n\nconst doc = new Document({\n  sections: [{ children }]\n});\n\nconst buffer = await Packer.toBuffer(doc);\nconst filename = targetMonth.slice(0, 7) + '_financial_summary.docx';\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(buffer),\n  filename,\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n);\n\nreturn [{\n  json: {\n    filename: filename,\n    target_month: targetMonth,\n    report_label: reportLabel,\n    fiscal_year: $json.fiscal_year,\n    raw_actuals: $json.raw_actuals,\n    metrics: $json.metrics,\n    claude_response: report\n  },\n  binary: { data: binaryData }\n}];"
      },
      "id": "fa-0022-0022-0022-000000000022",
      "name": "Generate DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/governance/financial/{{ $json.filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/vnd.openxmlformats-officedocument.wordprocessingml.document" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fa-0023-0023-0023-000000000023",
      "name": "Upload DOCX to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2920, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/sign/governance/financial/{{ $('Generate DOCX').first().json.filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ expiresIn: 2592000 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fa-0024-0024-0024-000000000024",
      "name": "Create Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3140, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "multipart/related; boundary=docx_boundary" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ '--docx_boundary\\r\\nContent-Type: application/json; charset=UTF-8\\r\\n\\r\\n' + JSON.stringify({ name: $('Generate DOCX').first().json.filename, parents: [$env.GOOGLE_DRIVE_GOVERNANCE_FOLDER_ID || 'root'] }) + '\\r\\n--docx_boundary\\r\\nContent-Type: application/vnd.openxmlformats-officedocument.wordprocessingml.document\\r\\nContent-Transfer-Encoding: base64\\r\\n\\r\\n' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fa-0025-0025-0025-000000000025",
      "name": "Backup to Google Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prevDocx = $('Generate DOCX').first().json;\nconst signedUrlResp = $('Create Signed URL').first().json;\n\nconst targetMonth = prevDocx.target_month;\nconst reportLabel = prevDocx.report_label;\nconst fiscalYear = prevDocx.fiscal_year;\nconst filename = prevDocx.filename;\n\n// Derive quarter from target month\nconst monthNum = new Date(targetMonth + 'T00:00:00Z').getUTCMonth(); // 0-indexed\nconst quarter = 'Q' + (Math.floor(monthNum / 3) + 1);\n\nconst logEntry = {\n  agent_name: 'financial_analyst',\n  event_type: 'report_generated',\n  summary: 'Financial summary report generated for ' + reportLabel,\n  document_url: 'governance/financial/' + filename,\n  data_snapshot: {\n    raw_actuals: prevDocx.raw_actuals,\n    calculated_metrics: prevDocx.metrics,\n    report_label: reportLabel,\n    target_month: targetMonth\n  },\n  quarter: quarter,\n  fiscal_year: fiscalYear\n};\n\n// Build signed download URL\nconst signedPath = signedUrlResp.signedURL || signedUrlResp.signedUrl || '';\nconst downloadUrl = signedPath.startsWith('http') ? signedPath : ($env.SUPABASE_URL + '/storage/v1' + signedPath);\n\nreturn [{\n  json: {\n    log_entry: logEntry,\n    download_url: downloadUrl,\n    report_label: reportLabel,\n    target_month: targetMonth,\n    email_summary: prevDocx.claude_response.email_summary,\n    filename: filename\n  }\n}];"
      },
      "id": "fa-0026-0026-0026-000000000026",
      "name": "Prepare Governance Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3580, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.log_entry) }}"
      },
      "id": "fa-0027-0027-0027-000000000027",
      "name": "Log to Governance Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3800, 200]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Prepare Governance Log Entry').first().json;\n\nconst reportLabel = prevData.report_label;\nconst downloadUrl = prevData.download_url;\nconst emailSummary = prevData.email_summary;\n\nconst emailHtml = '<h2>Financial Summary: ' + reportLabel + '</h2>' +\n  '<p>' + emailSummary + '</p>' +\n  '<p><a href=\"' + downloadUrl + '\" style=\"display:inline-block;padding:12px 24px;background-color:#2563eb;color:#ffffff;text-decoration:none;border-radius:6px;font-weight:bold;\">Download Report (DOCX)</a></p>' +\n  '<p style=\"color:#6b7280;font-size:12px;\">This download link expires in 30 days. The report is also backed up to Google Drive.</p>';\n\nreturn [{\n  json: {\n    from: 'Faith & Harmony <info@faithandharmonyllc.com>',\n    to: $env.FOUNDER_EMAIL,\n    subject: 'Financial Summary: ' + reportLabel,\n    html: emailHtml\n  }\n}];"
      },
      "id": "fa-0028-0028-0028-000000000028",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $json.from, to: [$json.to], subject: $json.subject, html: $json.html }) }}"
      },
      "id": "fa-0029-0029-0029-000000000029",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4240, 200]
    },
    {
      "parameters": {
        "jsCode": "const targetMonth = $json.target_month || $('Validate Claude Response').first().json.target_month;\nconst reportLabel = $json.report_label || $('Validate Claude Response').first().json.report_label;\nconst fiscalYear = $json.fiscal_year || $('Validate Claude Response').first().json.fiscal_year;\nconst errorMsg = $('Validate Claude Response').first().json.error_message;\n\nconst monthNum = new Date(targetMonth + 'T00:00:00Z').getUTCMonth();\nconst quarter = 'Q' + (Math.floor(monthNum / 3) + 1);\n\nconst logEntry = {\n  agent_name: 'financial_analyst',\n  event_type: 'error',\n  summary: 'Claude API response validation failed for ' + reportLabel + ': ' + errorMsg,\n  data_snapshot: {\n    target_month: targetMonth,\n    error: errorMsg,\n    reason: 'claude_response_invalid'\n  },\n  quarter: quarter,\n  fiscal_year: fiscalYear\n};\n\nreturn [{ json: { log_entry: logEntry } }];"
      },
      "id": "fa-0030-0030-0030-000000000030",
      "name": "Prepare Error Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.log_entry) }}"
      },
      "id": "fa-0031-0031-0031-000000000031",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2920, 420]
    },
    {
      "parameters": {},
      "id": "fa-0032-0032-0032-000000000032",
      "name": "End Error Path",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3140, 420]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Check First Business Day", "type": "main", "index": 0 }]
      ]
    },
    "Check First Business Day": {
      "main": [
        [{ "node": "Is First Business Day?", "type": "main", "index": 0 }]
      ]
    },
    "Is First Business Day?": {
      "main": [
        [{ "node": "Merge Target Month", "type": "main", "index": 0 }],
        [{ "node": "Not First Biz Day - Stop", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{ "node": "Parse Webhook Input", "type": "main", "index": 0 }]
      ]
    },
    "Parse Webhook Input": {
      "main": [
        [{ "node": "Merge Target Month", "type": "main", "index": 1 }]
      ]
    },
    "Merge Target Month": {
      "main": [
        [
          { "node": "Get Financial Actuals", "type": "main", "index": 0 },
          { "node": "Get Budget Baseline", "type": "main", "index": 0 },
          { "node": "Get YTD Actuals", "type": "main", "index": 0 },
          { "node": "Get Previous Month", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Financial Actuals": {
      "main": [
        [{ "node": "Calculate Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Get Budget Baseline": {
      "main": [
        [{ "node": "Calculate Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Get YTD Actuals": {
      "main": [
        [{ "node": "Calculate Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Get Previous Month": {
      "main": [
        [{ "node": "Calculate Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [{ "node": "Has Data?", "type": "main", "index": 0 }]
      ]
    },
    "Has Data?": {
      "main": [
        [{ "node": "Prepare Claude Prompt", "type": "main", "index": 0 }],
        [{ "node": "Prepare No Data Warning", "type": "main", "index": 0 }]
      ]
    },
    "Prepare No Data Warning": {
      "main": [
        [{ "node": "Log No Data Warning", "type": "main", "index": 0 }]
      ]
    },
    "Log No Data Warning": {
      "main": [
        [{ "node": "Send No Data Email", "type": "main", "index": 0 }]
      ]
    },
    "Send No Data Email": {
      "main": [
        [{ "node": "End No Data Path", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Claude Prompt": {
      "main": [
        [{ "node": "Call Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Call Claude API": {
      "main": [
        [{ "node": "Validate Claude Response", "type": "main", "index": 0 }]
      ]
    },
    "Validate Claude Response": {
      "main": [
        [{ "node": "Claude Response Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Claude Response Valid?": {
      "main": [
        [{ "node": "Generate DOCX", "type": "main", "index": 0 }],
        [{ "node": "Prepare Error Log", "type": "main", "index": 0 }]
      ]
    },
    "Generate DOCX": {
      "main": [
        [{ "node": "Upload DOCX to Supabase Storage", "type": "main", "index": 0 }]
      ]
    },
    "Upload DOCX to Supabase Storage": {
      "main": [
        [{ "node": "Create Signed URL", "type": "main", "index": 0 }]
      ]
    },
    "Create Signed URL": {
      "main": [
        [{ "node": "Backup to Google Drive", "type": "main", "index": 0 }]
      ]
    },
    "Backup to Google Drive": {
      "main": [
        [{ "node": "Prepare Governance Log Entry", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Governance Log Entry": {
      "main": [
        [{ "node": "Log to Governance Log", "type": "main", "index": 0 }]
      ]
    },
    "Log to Governance Log": {
      "main": [
        [{ "node": "Prepare Email", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Email": {
      "main": [
        [{ "node": "Send Email via Resend", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Error Log": {
      "main": [
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Log Error": {
      "main": [
        [{ "node": "End Error Path", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "tags": [
    { "name": "governance" },
    { "name": "financial-analyst" }
  ]
}
