n8n-workflows/wf3-sentinel-delivery.json
{
  "name": "WF3 - Sentinel Delivery & Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-delivery",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "sentinel-delivery"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, job_id: $json.body.job_id }) }}",
        "options": {}
      },
      "id": "respond-accepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 160]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/processing_steps?mission_id=eq.{{ $json.body.job_id }}&step_name=eq.packaging",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'running', started_at: new Date().toISOString() }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "step6-start",
      "name": "Step 6 Start - Packaging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/drone_assets?job_id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}&processing_status=eq.processed&pipeline_excluded=eq.false&select=id,file_name,file_path,processed_path,file_type",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        }
      },
      "id": "fetch-processed-assets",
      "name": "Fetch Processed Assets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Build file manifest for packaging\nconst body = $('Webhook Trigger').item.json.body;\nconst assets = $('Fetch Processed Assets').item.json;\nconst assetList = Array.isArray(assets) ? assets : [assets];\n\nconst processedFiles = assetList\n  .filter(a => a.processed_path)\n  .map(a => ({\n    storage_path: a.processed_path,\n    file_name: a.file_name\n  }));\n\nreturn [{\n  json: {\n    ...body,\n    processed_files: processedFiles,\n    total_assets: assetList.length,\n    processed_count: processedFiles.length\n  }\n}];"
      },
      "id": "build-manifest",
      "name": "Build File Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SENTINEL_RIG_URL }}/api/package/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  job_id: $json.job_id,\n  job_number: $json.job_number,\n  property_address: $json.property_address,\n  package_code: $json.package_code,\n  processed_files: $json.processed_files,\n  include_social: $json.include_social_exports || false,\n  include_raw: $json.include_raw_files || false,\n  include_technical: $json.include_technical_data || false,\n  callback_url: $env.N8N_CALLBACK_BASE + '/webhook/sentinel-package-callback'\n}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Sentinel-Key", "value": "={{ $env.SENTINEL_API_KEY }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "call-package",
      "name": "Call Package Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "sentinel-package-callback",
        "options": { "timeout": 900, "timeoutUnit": "seconds" }
      },
      "id": "wait-package",
      "name": "Wait for Package Callback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/processing_steps?mission_id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}&step_name=eq.packaging",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.body.status === 'complete' ? 'complete' : 'failed', completed_at: new Date().toISOString(), error_message: $json.body.error || null }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "step6-complete",
      "name": "Step 6 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "package-ok",
              "leftValue": "={{ $json.body?.status }}",
              "rightValue": "complete",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-package-ok",
      "name": "Package OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/processing_steps?mission_id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}&step_name=eq.delivery",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'running', started_at: new Date().toISOString() }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "step7-start",
      "name": "Step 7 Start - Delivery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/delivery_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  mission_id: $('Webhook Trigger').item.json.body.job_id,\n  output_path: $('Wait for Package Callback').item.json.body.zip_storage_path,\n  delivered_at: new Date().toISOString(),\n  file_count: $('Build File Manifest').item.json.processed_count,\n  recipient_email: $('Webhook Trigger').item.json.body.client_email,\n  notification_sent: false\n}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Prefer", "value": "return=representation" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "insert-delivery-log",
      "name": "Insert Delivery Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/drone-delivery-email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  job_id: $('Webhook Trigger').item.json.body.job_id,\n  download_url: $('Wait for Package Callback').item.json.body.download_url\n}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "call-delivery-email",
      "name": "Call Delivery Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/processing_steps?mission_id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}&step_name=eq.delivery",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'complete', completed_at: new Date().toISOString() }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "step7-complete",
      "name": "Step 7 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/drone_jobs?id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'delivered', delivered_at: new Date().toISOString() }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "set-delivered",
      "name": "Set Job Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/delivery_log?mission_id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}&order=delivered_at.desc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ notification_sent: true }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "update-delivery-log",
      "name": "Mark Notification Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/drone_jobs?id=eq.{{ $('Webhook Trigger').item.json.body.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "set-failed",
      "name": "Set Job Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond Accepted", "type": "main", "index": 0 },
          { "node": "Step 6 Start - Packaging", "type": "main", "index": 0 }
        ]
      ]
    },
    "Step 6 Start - Packaging": {
      "main": [
        [{ "node": "Fetch Processed Assets", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Processed Assets": {
      "main": [
        [{ "node": "Build File Manifest", "type": "main", "index": 0 }]
      ]
    },
    "Build File Manifest": {
      "main": [
        [{ "node": "Call Package Create", "type": "main", "index": 0 }]
      ]
    },
    "Call Package Create": {
      "main": [
        [{ "node": "Wait for Package Callback", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Package Callback": {
      "main": [
        [{ "node": "Step 6 Complete", "type": "main", "index": 0 }]
      ]
    },
    "Step 6 Complete": {
      "main": [
        [{ "node": "Package OK?", "type": "main", "index": 0 }]
      ]
    },
    "Package OK?": {
      "main": [
        [{ "node": "Step 7 Start - Delivery", "type": "main", "index": 0 }],
        [{ "node": "Set Job Failed", "type": "main", "index": 0 }]
      ]
    },
    "Step 7 Start - Delivery": {
      "main": [
        [{ "node": "Insert Delivery Log", "type": "main", "index": 0 }]
      ]
    },
    "Insert Delivery Log": {
      "main": [
        [{ "node": "Call Delivery Email", "type": "main", "index": 0 }]
      ]
    },
    "Call Delivery Email": {
      "main": [
        [{ "node": "Step 7 Complete", "type": "main", "index": 0 }]
      ]
    },
    "Step 7 Complete": {
      "main": [
        [{ "node": "Set Job Delivered", "type": "main", "index": 0 }]
      ]
    },
    "Set Job Delivered": {
      "main": [
        [{ "node": "Mark Notification Sent", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "sentinel" }, { "name": "pipeline" }]
}
