n8n-workflows/wf4-governance-scribe.json
{
  "name": "Governance Scribe Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1-7 1,4,7,10 1"
            }
          ]
        }
      },
      "id": "gs-0001",
      "name": "Quarterly CRON",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "governance-scribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gs-0002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 600]
    },
    {
      "parameters": {
        "jsCode": "// Determine which quarter to report on\nconst webhookData = $input.first().json.body || $input.first().json;\nlet quarter, fiscalYear, quarterStart, quarterEnd, previousQuarter, previousFiscalYear;\n\nif (webhookData.quarter && webhookData.fiscal_year) {\n  // Manual override\n  quarter = webhookData.quarter;\n  fiscalYear = Number(webhookData.fiscal_year);\n} else {\n  // Auto-detect: report on PREVIOUS quarter\n  const now = new Date();\n  const currentMonth = now.getMonth(); // 0-indexed\n  const currentYear = now.getFullYear();\n  const currentQ = Math.floor(currentMonth / 3) + 1;\n  \n  // Previous quarter\n  let prevQ = currentQ - 1;\n  let prevYear = currentYear;\n  if (prevQ === 0) {\n    prevQ = 4;\n    prevYear = currentYear - 1;\n  }\n  quarter = 'Q' + prevQ;\n  fiscalYear = prevYear;\n}\n\n// Calculate quarter date boundaries\nconst qNum = parseInt(quarter.replace('Q', ''));\nconst startMonth = (qNum - 1) * 3; // 0-indexed: Q1=0, Q2=3, Q3=6, Q4=9\nquarterStart = fiscalYear + '-' + String(startMonth + 1).padStart(2, '0') + '-01';\n\n// End of quarter: last day of the 3rd month\nconst endMonth = startMonth + 3; // next quarter start month (0-indexed)\nconst lastDay = new Date(fiscalYear, endMonth, 0).getDate();\nquarterEnd = fiscalYear + '-' + String(startMonth + 3).padStart(2, '0') + '-' + String(lastDay).padStart(2, '0');\n\n// Previous quarter for SCRB-05 review lookup\nlet prevQNum = qNum - 1;\nlet prevFY = fiscalYear;\nif (prevQNum === 0) {\n  prevQNum = 4;\n  prevFY = fiscalYear - 1;\n}\npreviousQuarter = 'Q' + prevQNum;\npreviousFiscalYear = prevFY;\n\nreturn [{\n  json: {\n    quarter,\n    fiscalYear,\n    quarterStart,\n    quarterEnd,\n    previousQuarter,\n    previousFiscalYear\n  }\n}];"
      },
      "id": "gs-0003",
      "name": "Determine Quarter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/drone_jobs?select=id,job_number,package_id,status,property_type,scheduled_date,delivered_at,created_at,drone_packages(code,name,category,price)&scheduled_date=gte.{{ $json.quarterStart }}&scheduled_date=lte.{{ $json.quarterEnd }}&status=in.(delivered,completed)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } }, "timeout": 15000 }
      },
      "id": "gs-0004",
      "name": "Query drone_jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_decisions?quarter=eq.{{ $json.quarter }}&fiscal_year=eq.{{ $json.fiscalYear }}&order=decision_date.asc&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } }, "timeout": 15000 }
      },
      "id": "gs-0005",
      "name": "Query governance_decisions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/compliance_obligations?select=*&order=due_date.asc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } }, "timeout": 15000 }
      },
      "id": "gs-0006",
      "name": "Query compliance_obligations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/financial_actuals?month=gte.{{ $json.quarterStart }}&month=lte.{{ $json.quarterEnd }}&order=month.asc&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } }, "timeout": 15000 }
      },
      "id": "gs-0007",
      "name": "Query financial_actuals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 640]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log?quarter=eq.{{ $json.quarter }}&fiscal_year=eq.{{ $json.fiscalYear }}&order=created_at.asc&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } }, "timeout": 15000 }
      },
      "id": "gs-0008",
      "name": "Query governance_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 820]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_log?agent_name=eq.governance_scribe&event_type=eq.generation&quarter=eq.{{ $json.previousQuarter }}&fiscal_year=eq.{{ $json.previousFiscalYear }}&order=created_at.desc&limit=1&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } }, "timeout": 15000 }
      },
      "id": "gs-0009",
      "name": "Query previous scribe output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 1000]
    },
    {
      "parameters": {
        "jsCode": "const quarterData = $('Determine Quarter').first().json;\nconst droneJobs = $('Query drone_jobs').first().json;\nconst decisions = $('Query governance_decisions').first().json;\nconst obligations = $('Query compliance_obligations').first().json;\nconst financials = $('Query financial_actuals').first().json;\nconst govLog = $('Query governance_log').first().json;\nconst prevScribe = $('Query previous scribe output').first().json;\n\n// Handle Supabase REST responses (arrays)\nconst droneJobsArr = Array.isArray(droneJobs) ? droneJobs : [];\nconst decisionsArr = Array.isArray(decisions) ? decisions : [];\nconst obligationsArr = Array.isArray(obligations) ? obligations : [];\nconst financialsArr = Array.isArray(financials) ? financials : [];\nconst govLogArr = Array.isArray(govLog) ? govLog : [];\nconst prevScribeArr = Array.isArray(prevScribe) ? prevScribe : [];\n\nreturn [{\n  json: {\n    quarter: quarterData.quarter,\n    fiscalYear: quarterData.fiscalYear,\n    quarterStart: quarterData.quarterStart,\n    quarterEnd: quarterData.quarterEnd,\n    collectedData: {\n      drone_jobs: droneJobsArr,\n      governance_decisions: decisionsArr,\n      compliance_obligations: obligationsArr,\n      financial_actuals: financialsArr,\n      governance_log: govLogArr,\n      previous_scribe_output: prevScribeArr.length > 0 ? prevScribeArr[0] : null\n    }\n  }\n}];"
      },
      "id": "gs-0010",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    }
  ],
  "connections": {
    "Quarterly CRON": {
      "main": [
        [{ "node": "Determine Quarter", "type": "main", "index": 0 }]
      ]
    },
    "Manual Trigger": {
      "main": [
        [{ "node": "Determine Quarter", "type": "main", "index": 0 }]
      ]
    },
    "Determine Quarter": {
      "main": [
        [
          { "node": "Query drone_jobs", "type": "main", "index": 0 },
          { "node": "Query governance_decisions", "type": "main", "index": 0 },
          { "node": "Query compliance_obligations", "type": "main", "index": 0 },
          { "node": "Query financial_actuals", "type": "main", "index": 0 },
          { "node": "Query governance_log", "type": "main", "index": 0 },
          { "node": "Query previous scribe output", "type": "main", "index": 0 }
        ]
      ]
    },
    "Query drone_jobs": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Query governance_decisions": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Query compliance_obligations": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Query financial_actuals": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Query governance_log": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Query previous scribe output": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "tags": [
    { "name": "governance" },
    { "name": "governance-scribe" }
  ]
}
